a:link{text-decoration:none}
a:visited {text-decoration: none}
a:hover{text-decoration:underline;color:red}
body{background-color:#E9E0D3;font-size:10.5pt}
td {font-size:10.5pt;font-family: ו;color:black;line-height:16pt}
.timu{background-color:#E9E0D3;font-size:10.5pt}
.text{font-size:10.5pt}
