a:link{text-decoration:none}
a:visited {text-decoration: none}
a:hover{text-decoration:underline;color:red}
body{background-color:#E4EBF1;font-size:9pt}
td {font-size:9pt;font-family: ו;color:black;line-height:16pt}
.timu{background-color:#C8E3FF;font-size:10.5pt}
.text{font-size:9pt}
