body{background-color:#E4EBF1;font-size:10.5pt;}
td{font-size:10.5pt;font-family:ו;color:black;line-height:150%}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:underline;color:red}
.text{background-color:#d8ebeb}
.txt{background-color:#C8E3FF}